html(lang="en")
head
    meta(charset="UTF-8")
    title Welcome To Suber Eats 
body

    include ./partials/navheader

    h1 Order ##{order.id}

    div 
        h2 Restaurant Name: #{order.restaurantName}

        b Customer: #{user.username}
        br
        
        b Order Contents: 
        br
        each content in order.contents 
            b #{content}
            br
        br
    
    div 
        b Subtotal: #{order.subtotal}
        br

        b Tax: #{order.tax}
        br

        b Delivery Fee: #{order.fee}
        br

        b Total: #{order.total}
        br